src/main/resources/cook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="type">
		<xs:sequence>
			<xs:element name="comment" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="time" type="xs:long"/>
					<xs:attribute name="remark" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="type" type="xs:string" use="required"/>
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
					<xs:attribute name="editable" type="xs:boolean" default="true" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="alerttype">
		<xs:complexContent>
			<xs:extension base="type"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="thermometertype">
		<xs:complexContent>
			<xs:extension base="type">
				<xs:sequence>
					<xs:element name="alert" type="alerttype" minOccurs="0"	maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="index" type="xs:integer" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name ="cooktype">
		<xs:complexContent>
			<xs:extension base="type">
				<xs:sequence>
					<xs:element name ="thermometer" type="thermometertype" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="cook" type="cooktype"/>

</xs:schema>