src/main/resources/smokercontroller.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="type">
		<xs:sequence>
			<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="key" type="xs:string"></xs:attribute>
					<xs:attribute name="value" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="alerttype">
		<xs:complexContent>
			<xs:extension base="type"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="thermometertype">
		<xs:complexContent>
			<xs:extension base="type">
				<xs:sequence>
					<xs:element name="alert" type="alerttype" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name ="smoketype">
		<xs:complexContent>
			<xs:extension base="type">
				<xs:sequence>
					<xs:element name ="thermometer" type="thermometertype" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name ="platformtype">
		<xs:complexContent>
			<xs:extension base="type">
				<xs:sequence>
					<xs:element name ="smoke" type="smoketype" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="smokercontrollertype">
		<xs:complexContent>
			<xs:extension base="type">
				<xs:sequence>
					<xs:element name ="platform" type="platformtype" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="smokercontroller" type="smokercontrollertype"/>

</xs:schema>